/* line 1, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
.fixed-box, .go-modal-outside .go-modal-body .go-header {
  box-sizing: border-box; }

/* line 7, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
.go-modal-outside {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  cursor: default; }
  /* line 17, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
  .go-modal-outside .go-modal-body {
    max-width: 75%;
    width: auto;
    min-width: 100px;
    display: table;
    border-collapse: collapse;
    background: #ffffff;
    margin: 5% auto 0 auto;
    max-height: 80%;
    height: auto;
    padding-bottom: 5px;
    box-shadow: 2px 2px 10px #78797C;
    border-radius: 5px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    /* line 31, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
    .go-modal-outside .go-modal-body .go-header {
      background-color: #4A4A4A;
      color: #FFFFFF;
      width: 100%;
      height: auto;
      padding: 5px 10px;
      border-radius: 5px 5px 0 0;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      font-size: 12px;
      font-family: sans-serif;
      font-weight: bold;
      color: white; }
    /* line 47, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
    .go-modal-outside .go-modal-body .go-close {
      text-align: center;
      cursor: pointer;
      padding: 0 6px;
      float: right;
      border-radius: 3px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */ }
    /* line 54, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
    .go-modal-outside .go-modal-body .go-close:hover {
      background-color: #28A4EE; }
    /* line 58, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
    .go-modal-outside .go-modal-body .go-container {
      padding: 5px 10px;
      color: #808284;
      font-size: 16px;
      max-height: 450px;
      height: auto;
      overflow: auto; }
      /* line 66, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
      .go-modal-outside .go-modal-body .go-container table {
        border-collapse: collapse;
        font-size: 13px;
        width: 100%; }
      /* line 71, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
      .go-modal-outside .go-modal-body .go-container th, .go-modal-outside .go-modal-body .go-container td {
        padding: 8px;
        text-align: left; }
      /* line 75, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
      .go-modal-outside .go-modal-body .go-container th {
        background-color: #2aa3da;
        color: #fff; }
        /* line 78, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
        .go-modal-outside .go-modal-body .go-container th div {
          font-weight: normal; }
      /* line 82, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
      .go-modal-outside .go-modal-body .go-container tr {
        border: solid 1px #dad7d7; }
      /* line 85, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
      .go-modal-outside .go-modal-body .go-container thead tr {
        border: solid 1px #2aa3da; }
      /* line 88, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
      .go-modal-outside .go-modal-body .go-container tr:nth-child(odd) {
        background-color: #f4f4f4; }
      /* line 91, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
      .go-modal-outside .go-modal-body .go-container .go-th-metrics {
        min-width: 80px; }
      /* line 94, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
      .go-modal-outside .go-modal-body .go-container .go-th-frequency, .go-modal-outside .go-modal-body .go-container .go-th-status {
        min-width: 90px; }

/* line 101, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
.go-icon-information {
  width: 14px;
  height: 14px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAA9ElEQVQY03WQvUoDURSEv/2JECQbNG6tKIiw2xjQyjdwX+A+iZUW2m/lOxhbo+RNckkb8AfUFLqSiHLHYq8rIs6pzsw5DDMIIZ6ys3Lfdquk6tuT8iGrWUDRtelNcMiP604ujSIAbkxrVtM72vUH4WxggOd8zdbEsl71qU0vJ/Yuj1aOhgUBgDhkzjkLAN57SwsOxo2XAgX62fIxafW9xHrRm9YbsV3FNAhoE9UOHuH2lH+wNQ2LUZ32D1SMmDVRWvqQtOEdO/Y2B4Ym9iWkShX6Ei5M/R9dmdVf9SWTgXERIByOx+y03LNJ1an69ri8zxzC8QXLpJhu47IbewAAAABJRU5ErkJggg==");
  background-repeat: no-repeat;
  background-position: center; }

/* line 112, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
.go-icon-information:hover {
/*  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwAAADsABataJCQAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4zjOaXUAAAAe1JREFUOE9lkrmOGkEQhlu2LDmzZMk5thNvvo+xD+FscwI/gB1aDp1sTDQhxwyXAMEi7huG+xpxw4ARIKRJyn/1DishSuqgq+rv+rqqxMUMw/jYbDYd0+m0OxgMqN1uU61Wo2q1SqPRiIbD4ffdbucgoje2RIhWq/W52+2qjUZDCnRdV3B34e4qFArP2WyWEokEwUfr9fpRirkSktV6vc4VnhaLhROB951O5zf8f/b7/a9+v+/M5XLNaDRKxWKR8vn8O2GaZtRGekLyJxtCIMFKJpO02WxcfO/1evflctnwer0EEk1MJhNGo9ls5pQK21arlQUsOh6PUsgGgi+hUOhfJBIhwYilUklhPDsuDa9b8Xj8teLF8GdT0zQSYCckXQXZ4LfC4TAtl8urGDpuMq5IpVKEpBshRBawboTo7Iswk8nQMwx/vLNj0iCyAoHAjRD5pqqqxKWJP4uuXjXH7/dbODSfz1+F6PoPiM6oQ4I3gucDtCZeu7dzBAZuxWIxQnelELP8Cd/B4/HwHB/E+Xx2jMdjYizgGRiPvt1uPyD4DcK70+n0iJXT8fDB7XYTqr4sAK8Pb086nf7LaD6fj6tvMQoTPhOPHbgZ7OedxZ+/SqSLKYryFgPXKpUKBYNB4mTGYhJedKA+yErShPgPVsPMKtZwSzwAAAAASUVORK5CYII="); */
background-image: url('/slideshow/custom-modal/img/icon-information-yellow.png'); }
  /* line 116, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
.go-button-landscape, .go-button-alert {
  min-width: 50px;
  border-radius: 3px;
  background-color: #286EBA;
  border: solid 1px #1B70CD;
  height: 24px;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  line-height: 24px;
  margin: 6px 0px 0px 10px;
  text-align: left; }
  /* line 129, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
  .go-button-landscape img, .go-button-alert img {
    padding: 3px;
    float: left; }
  /* line 134, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
  .go-button-landscape span, .go-button-alert span {
    font-size: 11px;
    color: #FFF;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    transition: 0.15s ease-out;
    padding: 0 3px 0 1px; }
  /* line 142, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
  .go-button-landscape:hover, .go-button-alert:hover {
    background-color: #4BB000;
    border: solid 1px #0257B5; }

/* line 149, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
.go-button-alert span {
  /*font-size: 13px;*/
  padding: 0 5px; }
/*update CSS*/
/* line 155, C:/GE Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
.go-modal-icon2 .go-icon-information {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwAAADsABataJCQAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4zjOaXUAAAAe1JREFUOE9lkrmOGkEQhlu2LDmzZMk5thNvvo+xD+FscwI/gB1aDp1sTDQhxwyXAMEi7huG+xpxw4ARIKRJyn/1DishSuqgq+rv+rqqxMUMw/jYbDYd0+m0OxgMqN1uU61Wo2q1SqPRiIbD4ffdbucgoje2RIhWq/W52+2qjUZDCnRdV3B34e4qFArP2WyWEokEwUfr9fpRirkSktV6vc4VnhaLhROB951O5zf8f/b7/a9+v+/M5XLNaDRKxWKR8vn8O2GaZtRGekLyJxtCIMFKJpO02WxcfO/1evflctnwer0EEk1MJhNGo9ls5pQK21arlQUsOh6PUsgGgi+hUOhfJBIhwYilUklhPDsuDa9b8Xj8teLF8GdT0zQSYCckXQXZ4LfC4TAtl8urGDpuMq5IpVKEpBshRBawboTo7Iswk8nQMwx/vLNj0iCyAoHAjRD5pqqqxKWJP4uuXjXH7/dbODSfz1+F6PoPiM6oQ4I3gucDtCZeu7dzBAZuxWIxQnelELP8Cd/B4/HwHB/E+Xx2jMdjYizgGRiPvt1uPyD4DcK70+n0iJXT8fDB7XYTqr4sAK8Pb086nf7LaD6fj6tvMQoTPhOPHbgZ7OedxZ+/SqSLKYryFgPXKpUKBYNB4mTGYhJedKA+yErShPgPVsPMKtZwSzwAAAAASUVORK5CYII=");
  top: 2px;
  right: 2px; }

/* line 160, C:/GE Confidential/go-spotfire-development/custom-modal/src/scripts/modal-custom/_modal-custom.scss */
.go-modal-icon2 .go-icon-information:hover {
/*  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAABAlBMVEUAAAAAAAAAAAAAAAATEwB8fADLywDw8ADx8QDOzgCCggAXFwAAAAAAAAAAAABLSwDs7AD//wD//wDw8ABWVgAAAABJSQD6+gD8/ABXVwASEgDr6wDx8QAZGQB4eAD+/gD//wCGhgDFxQDU1ADq6gD19QD19QDFxQDU1AB4eACHhwAREQDr6wDx8QAaGgBLSwD6+gD8/ABYWABMTADw8ABXVwAAAAATEwB9fQDy8gDPzwCCggAXFwAAAAAAAAD//wD+/gDW1gDNzQDz8wALCwADAwDc3AD7+wA5OQAmJgDt7QD9/QD6+gAODgAKCgDf3wAEBAAAAADe3gDs7ADr6wD8/ACIPVmAAAAAP3RSTlMAAAAAK47X9PTXjisAAANZ2f7+2VkDWe7uWSzX1yyN/v6N1tb09PTW1o2NLNfXLFnu7llZ2VkAK470144rAACQfnU5AAAApklEQVQI1z2O1Q4CUQxEiy22yOLu7u7Q4rKLw///Cr2Q0IeeTKeZDOj0BqNJMlusNrvs0AE4XW4FeTxenx8AAkEkWq54hcIAkSghrjfbHT/E4pBIEtL+cDwxUmnIkBhV/SILOeKzdr5cGZgXkki73R+CBSiyi0IiuyUoi6ivy1EVqNb+LtYbAM0WN3i+3oTtDrdydn8llV6fSw708nAkmceT6UyeLz5+kiYbS5rqqQAAAABJRU5ErkJggg=="); */
background-image: url('/slideshow/custom-modal/img/icon-information-yellow.png'); }
  /*update CSS close*/

/* line 1, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/styles/_data-landscape.scss */
.go-data-landscape {
  width: 800px; }
  /* line 4, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/styles/_data-landscape.scss */
  .go-data-landscape .go-title {
    margin: 20px 10px;
    color: #343535;
    font-size: 24px;
    font-weight: 500;
    display: block; }
  /* line 13, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/styles/_data-landscape.scss */
  .go-data-landscape .go-section .go-section-header {
    color: #343535;
    font-size: 18px;
    font-weight: 500;
    margin: 30px 0 20px;
    display: block; }
  /* line 22, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/styles/_data-landscape.scss */
  .go-data-landscape .go-biz {
    border-bottom: solid 1px #dad7d7; }
    /* line 24, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/styles/_data-landscape.scss */
    .go-data-landscape .go-biz .go-biz-header {
      margin: 10px;
      color: #2aa3da;
      font-size: 18px;
      font-weight: bold;
      display: block; }
  /* line 37, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/styles/_data-landscape.scss */
  .go-data-landscape .go-dwh-header {
    padding: 10px 15px;
    font-size: 16px;
    border: solid 1px #dad7d7;
    border-bottom: none; }
    /* line 42, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/styles/_data-landscape.scss */
    .go-data-landscape .go-dwh-header .go-dwh-label {
      color: #343535;
      font-weight: bold; }
    /* line 46, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/styles/_data-landscape.scss */
    .go-data-landscape .go-dwh-header .go-dwh-name {
      font-size: 14px;
      font-weight: normal; }
  /* line 52, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/styles/_data-landscape.scss */
  .go-data-landscape .go-src {
    padding: 0 15px;
    background-color: #f0f0ef;
    font-size: 14px;
    border: solid 1px #dad7d7;
    border-bottom: none; }
    /* line 58, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/styles/_data-landscape.scss */
    .go-data-landscape .go-src .go-src-header {
      padding: 7px 0px;
      font-weight: bold;
      display: block; }
    /* line 63, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/styles/_data-landscape.scss */
    .go-data-landscape .go-src .go-src-label {
      padding: 7px 15px;
      width: 49%;
      box-sizing: border-box;
      display: inline-block; }

/* line 7, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/styles/styles.scss */
.go-table-td {
  width: 200px;
  height: 40px; }

/* line 12, C:/GE Data Classification/Confidential/go-spotfire-development/custom-modal/src/styles/styles.scss */
.go-table-relative {
  position: relative;}
  

